body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

/* Link text-decoration */
a {text-decoration: none;}
a:link {color:blue;}
a:visited {color:purple;}
a:hover {color:yellow;}
a:active {color:orange;}

/* Text properties */
h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

p {
  line-height: 2;
}

/* Image properties */
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

/* Navigation Bar Elements */
.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

/* list properties */
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/* article properties */
article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
