/* These are the properties of the document body */
body {
  font-size: 14px;
}

/* These are for the floating navigation at the top of the page */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 { /* this affects both content and nav sections */
  padding-top: 30px;
  text-align: center;
}

/* These are for the content section */
section {
  margin: 0 auto;
  width: 60%;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

#highlight { /* This is used to change the background color of the last 3 div elements */
  background-color: blue;
}
