*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #DBD9DB;
  font-family: serif;
  font-size: 10px;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 1.35em;
  letter-spacing: .2em;
  margin: 3% 0 4%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5em;
}

img {
  max-width: initial;
}

.container{
  padding: 5% 0;
  text-align: center;
  width: 100%;
}

.tile {
  display: inline-block;
  height: 300px;
  margin: 3% 0;
  max-width: 480px;
  overflow: hidden;
}

.location-text {
  position: absolute;
  padding-top: 10%;
  padding-left: 10%;
}

.location-image {
  height: 330px;
}

#london-image {
  float: right;
}

@media screen and (min-width: 575px) {
  h1 {
    margin: 0 0 3% 0;
  }

  .tile {
    height: 220px;
    margin: 1% 1%;
    width: 40%;
    max-width: 330px;
    overflow: hidden;
  }

  .location-text {
    padding: 4% 4%;
  }

  .location-image {
    height: 230px;
  }
}

@media screen and (min-width: 991px) {
  .tile {
    height: 200px;
    margin: 1% 1%;
    max-width: 15%;
    overflow: hidden;
  }

  .location-text {
    padding: 1% 1%;
  }

  .location-image {
    height: 200px;
  }
}
